.result {
    animation-name: scroll-up;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes scroll-up {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-50%);
        opacity: 0;
    }
}